[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "nimbleAPT"]
	path = nimbleAPT
	url = https://github.com/drjp/nimbleapt
	subdir = nimbleAPT
[submodule "nimbleNoBounds"]
	path = nimbleNoBounds
	url = https://github.com/drjp/nimblenobounds
	subdir = nimbleNoBounds
