[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "nimbleAPT"]
	path = nimbleAPT
	url = https://github.com/drjp/nimbleapt
	shallow = true
	subdir = nimbleAPT
	registered = true
[submodule "nimbleNoBounds"]
	path = nimbleNoBounds
	url = https://github.com/drjp/nimblenobounds
	shallow = true
	subdir = nimbleNoBounds
	registered = true
